@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "disket";
  src: url('/fonts/disket.woff2') format("woff2");
}
@font-face {
  font-family: 'recoleta';
  src: url('/fonts/recoleta.woff2') format('woff2');
}
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  .disket {
    font-family: disket;
  }
  .recoleta {
    font-family: recoleta;
  }

}

body{
    overflow-x: hidden;
}