

.button {
    display:inline-block;
    height:50px;
    line-height:50px;
    overflow:hidden;
    position:relative;
    text-align:center;
    background-color:#000000;
    color:#ffffff;
    border-radius:4px;
    transition:0.3s;
    cursor: pointer;
    font-weight:bold;
  }
  
  /* BUTTON UP */
  .label-up {
    display:block;
    margin:0px 30px;
    height:100%;
    position:relative;
    top:0%;
    transition:0.3s;
  }
  
  .button:hover .label-up {
    top:-100%;
  }
  
  /* BUTTON DOWN */
  .label-down {
    display:block;
    margin:0px 30px;
    height:100%;
    position:relative;
    top:-100%;
    transition:0.3s;
  }
  
  .button:hover .label-down {
    top:0%;
  }